/* Define responsive styles for different screen sizes */

@media (max-width: 768px) {
  .container {
      padding: 10px;
  }
}


body {
    margin: 0;
    padding: 0;
  }


.navbarsection{
   height: 40px;
   background-color: rgb(14, 14, 95);

    
}

.navItem{
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    word-spacing: 20px;
    font-family: 'Poppins', sans-serif;
   
}

a {
    text-decoration: none;
    color: red;
    font-size: 20px;
}

/*  Next section */
.profile{
    display: flex;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 350px;
    background-color: rgb(11, 11, 58);
    height: 33vh;
    padding-bottom: 10px;
    
   

}


.profile-pic img {
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
  }


.intro {
    color: white;
    padding-left: 60px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}






.mywork {
    background-color: rgb(218, 218, 235);
    height: 50vh;
    padding-top: 10px;
    
}

.work_heading{
    text-align: center;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    
}

.work_detail{
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    
}

.firstWork{
    /* background-color: bisque; */
    padding-left: 10px;
}

.secondWork{
    /* background-color: bisque; */
}

.thirdtWork{
    /* background-color: bisque; */
    padding-right: 10px;
}


.work-pic img {
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
  }


  .about-me{
    background-color: beige;
    height: 50vh;

  }
.about{
    font-size: 40px;
    text-align: center;
}
  .aboutmeIntro{
    font-size: 20px;
    padding-left: 10px;
    text-align: center;
  }

  .dataWork{
    display: flex;
    justify-content: space-around;
  }


  /* This css is for Feedback Form */

  /* Add your CSS styles for the form here */
  .feedback-form {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.feedback-form label {
    display: block;
    margin-bottom: 10px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.feedback-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}